@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --color-green: rgba(15, 166, 116);
    --Light-background: rgba(249, 250, 251);
    --color-faint: rgba(227, 242, 237);
    --color-black: rgba(15, 28, 47);
    --icon-color: rgba(31, 31, 31);
    --white-color: rgba(255, 255, 255);
    --color-red: rgba(239, 68, 68);
    --color-pending: rgba(238, 217, 217);
    --color-complete: rgba(210, 223, 243);
    --trans: .4s ease;
    --paren: rgba(255, 255, 255, 0.283);
    --star-gradient: linear-gradient(rgba(255, 111, 71, 1),rgba(255, 205, 15, 1));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body > input {
    display: none;
}
.layout {
    background-color: green;
    display: grid;
    grid-template-columns: 240px 1fr;
}
/* header section styling */
header {
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 240px;
    gap: 35px;
}
/* logo styling */
.logo-section {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid var(--color-faint);
    gap: 7px;
}
.logo-section h1 {
    font-size: 24px;
    color: var(--color-faint);
}
/*side bar styling*/
.nav-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 16px;
}
.nav-items label {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    color: var(--white-color);
}
.nav-items label:hover {
    background-color: var(--paren);

}
/* styling for the content page */
.content-page {
    background-color: var(--Light-background);
    min-height: 100vh;
    grid-column: 2;
}
/* styling for the content page header */
.content-page-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
}
.content-page-header > h2 {
    font-size: 33px;
    font-weight: 700;
}
/* styling for the account tools section */
.account-tools {
    display: flex;
    gap: 8px;
}
.search {
    background-color: var(--white-color);
    position: relative;
    box-shadow: 0px 0px 2px var(--color-black);
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    transition: var(--trans);
}
.search:focus-within {
    width: 250px;
    border-radius: 30px;
    padding-right: 10px;
}
.search input {
    height: inherit;
    padding: 0 10px;
    outline: none;
    border: none;
}
.search input::placeholder {
    opacity: 0;
}
.search input:focus::placeholder {
    opacity: 1;
}
p.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
}
.noti {
    background-color: var(--white-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-content: center;
    box-shadow: 0px 0px 2px var(--color-black);
}
p.noti-bell {
    background-color: var(--color-faint);
    padding: 5px 6px;
    border-radius: 50%;
}
p.noti-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 7px;
    background-color: var(--color-red);
}
.account-info {
    background-color: var(--white-color);
    display: flex;
    gap: 8px;
    align-items: center;
    padding-inline: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 2px var(--color-black);
}
p.profile-image {
    width: 30px;
    height: 30px;
    background-image: url(../Images/Client/Frame\ 294.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
p.account-name {
    font-size: 13px;
    font-weight: 600;
}
.section {
    display: none;
}
/* setting the checked status for the labels */
#tab-dashboard:checked ~ .layout .content-page #dashboard, #tab-job:checked ~ .layout .content-page #job, #tab-talent:checked ~ .layout .content-page #talent, #tab-projects:checked ~ .layout .content-page #project, #tab-payments:checked ~ .layout .content-page #payment, #tab-reviews:checked ~ .layout .content-page #review, #tab-help:checked ~ .layout .content-page #help, #tab-logout:checked ~ .layout .content-page #logout  {
    display: block;
}
#tab-dashboard:checked ~ .layout header label[for="tab-dashboard"], #tab-job:checked ~ .layout header label[for="tab-job"], #tab-talent:checked ~ .layout header label[for="tab-talent"], #tab-projects:checked ~ .layout header label[for="tab-projects"], #tab-payments:checked ~ .layout header label[for="tab-payments"], #tab-reviews:checked ~ .layout header label[for="tab-reviews"], #tab-help:checked ~ .layout header label[for="tab-help"], #tab-logout:checked ~ .layout header label[for="tab-logout"] {
    background-color: var(--white-color);
    color: var(--color-black);
}