@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --color-green: rgba(15, 166, 116);
  --Light-background: rgba(249, 250, 251);
  --color-faint: rgba(227, 242, 237);
  --color-black: rgba(15, 28, 47);
  --icon-color: rgba(31, 31, 31);
  --white-color: rgba(255, 255, 255);
  --color-red: rgba(239, 68, 68);
  --color-pending: rgba(238, 217, 217);
  --color-complete: rgba(210, 223, 243);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--white-color);
}

/* Split the screen in half */
.split {
  height: 100%;

  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  width: 47%;
  height: 100%;
  background: url("/Images/LogPage/Frame\ 102.png") no-repeat center
    center/cover;
  background-image: url(/Images/LogPage/Frame\ 102.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-size: 70px;
  font-weight: 400;

  color: var(--white-color);
  /* font-size: 2.5rem; */
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

/* Control the right side */
.right {
  right: 0;
  width: 53%;
  height: 100%;
  background-color: var(--white-color);

  display: flex;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.right h2 {
  margin-bottom: 20px;
  font-size: 39px;
  font-weight: 600;
}

form {
  height: 806px;
  height: 636px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
}

.form-row {
  width: 400px;
  height: 75px;
}

.first-form {
  margin-right: 16px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 14px;
  width: 100%;
  height: 48px;
  padding: 12px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: var(--white-color);
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-div {
  margin-bottom: 15px;
}

small {
  font-size: 12px;
  font-weight: 400;
  color: rgb(122, 123, 156);
}
.checkbox {
  margin-bottom: 15px;
  font-size: 14px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.checkbox label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox input {
  margin-right: 8px;
}

.checkbox a {
  color: var(--color-black);
  font-weight: 600;
}

#terms {
  width: 24px;
  height: 24px;
  accent-color: var(--color-green);
}

button {
  height: 66px;
  background-color: var(--color-green);
  color: white;
  padding: 12px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

  font-size: 16px;
  font-weight: 500;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.or-divider:not(:empty)::before {
  margin-right: 0.75em;
}

.or-divider:not(:empty)::after {
  margin-left: 0.75em;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  height: 68px;

  font-size: 16px;
  font-weight: 600;

  text-decoration: none;
}

.google-btn svg {
  width: 24px;
  height: 24px;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.login-link a {
  color: #2563eb;
  text-decoration: none;
}
